.about-container {
  background-color: #000000;
  padding: 20px;
}

.about-section-title {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
  font-weight: 700;
}

.custom-divider {
  border-color: #ffffff;
  margin: 30px 0;
}
