@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  height: 100%;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  padding: 20px;
  text-align: center;
}

.Footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: auto;
}

main {
  flex: 1;
  padding: 5px;
  background-color: #000;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  box-sizing: border-box;
}
